
#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  overflow: auto;
}

#Home-Container {
  margin: 0 auto;
  padding: 0;
  background-color: blue;
  height: 100vh;
  width: 100vw;
}

#Home-Top-Row {
  height: 10vh;
  background-color: aqua;
  justify-content: center;
  align-content: center;
}

#Home-Content-Main {
  height: 90vh;
  background-color: bisque;
  justify-content: center;
  align-content: center;
}

#Home-Content-Left {
  height: 90vh;
  background-color: blueviolet;
  justify-content: center;
  align-content: center;
}

#Home-Content-Center {
  height: 90vh;
  background-color: brown;
  justify-content: center;
  align-content: center;
}

#Home-Content-Right {
  height: 90vh;
  background-color: chartreuse;
  justify-content: center;
  align-content: center;
}